<a href="https://colab.research.google.com/github/Safad70/Filoger/blob/main/Python_Ex01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q1

##Change to float and integer:

Checking the type

In [ ]:
#Float
num1 = 12.6
num2 = "050"
num3 = "20."
student_num = "s98234"
flag = True
#checking the type
print("Checking the type")
print(type(num1))
print(type(num2))
print(type(num3))
print(type(student_num))
print(type(flag))
#Converting to Float
print("Converting to Float")
print(float(num1))
print(float(num2))
print(float(num3))
print(float(student_num[1:]))
print(float(flag))
#Checking if Float
print("Checking the type")
print(type(float(num1)))
print(type(float(num2)))
print(type(float(num3)))
print(type(float(student_num[1:])))
print(type(float(flag)))
#Converting to Integer
print(int(num1))
print(int(num2))
print(int(float(num3)))
print(int(student_num[1:]))
print(int(flag))
print("Checking the type")
print(type(int(num1)))
print(type(int(num2)))
print(type(int(float(num3))))
print(type(int(student_num[1:])))
print(type(int(flag)))

print( int(num1), ": ", type(int(num1)))

Checking the type
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
Converting to Float
12.6
50.0
20.0
98234.0
1.0
Checking the type
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
12
50
20
98234
1
Checking the type
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
12 :  <class 'int'>

In [ ]:
student_num = "s98234"
float_num = float(student_num[n:])
print(float_num)

98234.0

##Change to Boolean:

Checking the type

In [ ]:
num1 = -20
num2 = 00
flag = "False"
print("Checking the type")
print(type(num1))
print(type(num2))
print(type(flag))

#Convert to Bool
print("Checking the type after Bool")
print(type(bool(num1)))
print(type(bool(num2)))
print(type(bool(flag)))

Checking the type
<class 'int'>
<class 'int'>
<class 'str'>
Checking the type after Bool
<class 'bool'>
<class 'bool'>
<class 'bool'>

#Q2

In [ ]:
num1 = 20
num2 = 19.
num3 = "18.5"

sum= float(num1)+float(num2)+float(num3)
avg = sum/3
print(avg)

19.166666666666668

# Q3

In [ ]:
a = 10
b = 5 
print(a > b) # True

True

# Q4

In [ ]:
length = float(input("Length "))
width = float(input("Width "))

#Perimiter 
perimiter = 2*(length+width)
print(f"Perimiter is {perimiter}")
#Area
area = length*width
print(f"Area is {area}")

Length 1
Width 1
Perimiter is 4.0
Area is 1.0

# Q5

In [ ]:
import math
pi = math.pi
radius = float(input("Radius "))

circle_area = pi*radius**2
rectangle_area = (radius*2)**2
desired_area = rectangle_area - circle_area
#print(desired_area , circle_area , rectangle_area)
print(desired_area)

Radius 10
85.84073464102067 314.1592653589793 400.0

# Q6

num1 = num2 = num3 = 200

In [ ]:
num1 = num2 = num3 = 200

print(f"num1 is {num1}, num2 is {num2} and num3 is {num3}")

200 200 200
num1 is 200, num2 is 200 and num3 is 200

num1 , num2 , num3 = 10, 20, 145

In [ ]:
num1 , num2 , num3 = 10, 20, 145
print(f"num1 is {num1}, num2 is {num2} and num3 is {num3}")

num1 is 10, num2 is 20 and num3 is 145

num1 , num2 , num3 = 30, 100

In [ ]:
#num1 , num2 , num3 = 30, 100
#print(f"num1 is {num1}, num2 is {num2} and num3 is {num3}")
#ValueError: not enough values to unpack (expected 3, got 2)
# Instead of receiving 3 values it received 2 values by adding another number the error will be fixed

num1 , num2 , num3 = 30, 100 , 100
print(f"num1 is {num1}, num2 is {num2} and num3 is {num3}")

num1 is 30, num2 is 100 and num3 is 100